body{
	font-family: Lato;
}

/*--------- Header */
header
{
	background: url(../image/large.jpg);
	background-size: cover;
	color: #FFF;
}
header a{
	color: #FFF;
}
nav li a{
	display: block;
	padding: 15px 15px;
	transition: all 0.2s;
	border-radius: 6px;
}
nav li a:hover, nav li a:focus{
	text-decoration: none;
	outline: none;
	background: #FFF;
}

#main-navigation
{
	z-index: 1;
	position: absolute;
	right: 10px;
	margin: 10px 0 0 0;
}
#main-navigation ul
{
	background: rgba(0,0,0,0.7);
	list-style: none;
	padding: 10px;
	border-radius: 5px;
}
.logo{
	margin-top: 10px;
}
.frase{
	margin: 100px 0;
	text-align: center;
}
.layer-blue{
	background: rgba(90, 107, 136, 0.6);
	padding-top: 10px ;
}
.header-banner, .section-7{
	background: rgba(87, 149, 255, 0.79);
	padding: 30px 0;
}
.header-banner h3, .section-7 h3{
	margin: 0;
}
.banner-button{
	background: none;
	border:1px solid #FFF;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 20px;
}
.banner-button:hover{
    background: #fff;
    color: rgba(87, 149, 255, 0.79);
}
/********SECTION ICONS*************/
.icon-container{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	line-height: 150px;
	font-size: 60px;
	text-align: center;
	box-shadow: -2px 2px 10px rgba(0,0,0,0.2);
	border-radius: 200px;
	color: skyblue;
}

/*------------------------ Separador vertical */
.vertical-divider{
	border-top:1px solid #CCC;
	text-align: center;
}
.vertical-divider img{
	position: absolute;
	z-index: 1;
	transform: translateY(-50%) translateX(-50%);
}
/*------------------------ END Separador vertical */

.services, .ejemplo{
	margin: 100px 0;
}

.pasos .row{
	background: url(../image/sec-2.jpg) left center;
	background-size: contain;
}
.pasos .col-pasos-info{
	background: #FFF;
}
.pasos .pasos-info{
	background: #FFF;
	padding: 5px;
	margin: 0 0 0 30px;
}
.step1, .step2, .step3{
	position: relative;
}
.step3{
	margin-bottom: 50px;
}

.icon-blue{
	border-radius:40px;
	background: #299ff4;
	padding: 10px;
	font-size: 25px;
	color: #FFF;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	margin-left: -75px;
}
.section-6{
    margin: 100px 0;
}
.section-7{
    background:  rgb(87, 149, 255);
    color: #fff;
}


@media screen and (max-width:768px)
{
	.banner-info
	{
		text-align:center;
		margin-bottom: 15px;
	}
	.frase{
		margin: 60px 0;
	}
	.frase h2{
		font-size: 20px;
	}
}
@media screen and (max-width:999px)
{
	.icon-blue
	{
		margin-left: -65px;

	}
	.pasos .col-pasos-info
	{
		background: none;
	}
	.pasos .row{
		background-size: cover;
	}
	.pasos .pasos-info
	{
		margin: 20px;
		border-radius: 10px;
		box-shadow: 2px 2px 20px rgba(0,0,0,0.8);
		padding: 5px 20px 5px 40px;
	}
}
/*-------------------------CONTACT----------------------------------------*/
.head2{
    background: rgba(87, 149, 255,0.5);
}
.body2{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/large.jpg);
    color: #000;
}
.foot2{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}


/*-------------------------CONTACT----------------------------------------*/

@media screen and (max-width:999px) and (min-width:768px)
{
	.tapita-azul .row>div
	{
		text-align: center;
	}
	.tapita-azul .row>div .img-responsive
	{
		display: inline-block;
	}
	.desktop-menu
	{
		text-align: center;
	}
}









